# Extras

on init
    export ANDROID_CACHE /cache
    export TERMINFO /system/etc/terminfo

#    start sysinit

    # Set up the BFQIO hierarchy
    chmod 0755 /sys/fs/cgroup
    mkdir /sys/fs/cgroup/bfqio 0755 root system
    mount cgroup none /sys/fs/cgroup/bfqio bfqio
    write /sys/fs/cgroup/bfqio/bfqio.ioprio_class 2
    write /sys/fs/cgroup/bfqio/bfqio.ioprio 1
    write /sys/fs/cgroup/bfqio/bfqio.weight 1000
    chown root system /sys/fs/cgroup/bfqio/tasks
    chmod 0666 /sys/fs/cgroup/bfqio/tasks

    # Realtime class
    mkdir /sys/fs/cgroup/bfqio/rt 0755 root system
    write /sys/fs/cgroup/bfqio/rt/bfqio.ioprio_class 1
    write /sys/fs/cgroup/bfqio/rt/bfqio.ioprio 7
    write /sys/fs/cgroup/bfqio/rt/bfqio.weight 1000
    chown root system /sys/fs/cgroup/bfqio/rt/tasks
    chmod 0666 /sys/fs/cgroup/bfqio/rt/tasks

    # High priority < -2
    mkdir /sys/fs/cgroup/bfqio/hipri 0755 root system
    write /sys/fs/cgroup/bfqio/hipri/bfqio.ioprio_class 2
    write /sys/fs/cgroup/bfqio/hipri/bfqio.ioprio 0
    write /sys/fs/cgroup/bfqio/hipri/bfqio.weight 1000
    chown root system /sys/fs/cgroup/bfqio/hipri/tasks
    chmod 0666 /sys/fs/cgroup/bfqio/hipri/tasks

    # Background >= 10
    mkdir /sys/fs/cgroup/bfqio/bg 0755 root system
    write /sys/fs/cgroup/bfqio/bg/bfqio.ioprio_class 2
    write /sys/fs/cgroup/bfqio/bg/bfqio.ioprio 7
    write /sys/fs/cgroup/bfqio/bg/bfqio.weight 1000
    chown root system /sys/fs/cgroup/bfqio/bg/tasks
    chmod 0666 /sys/fs/cgroup/bfqio/bg/tasks

    # Idle >= 18
    mkdir /sys/fs/cgroup/bfqio/idle 0755 root system
    write /sys/fs/cgroup/bfqio/idle/bfqio.ioprio_class 3
    write /sys/fs/cgroup/bfqio/idle/bfqio.ioprio 3
    write /sys/fs/cgroup/bfqio/idle/bfqio.weight 1000
    chown root system /sys/fs/cgroup/bfqio/idle/tasks
    chmod 0666 /sys/fs/cgroup/bfqio/idle/tasks

on property:sys.boot_completed=1
    start userinit

service post-init /sbin/post-boot.sh
    class core
    user root
    oneshot

# sysinit (/system/etc/init.d)
service sysinit /system/bin/sysinit
    user root
    group root
    oneshot

# runparts (/system/etc/init.d)
service userinit /system/xbin/busybox run-parts /system/etc/init.d
	oneshot
	class late_start
	user root
	group root
